
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lift for Hope</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/grid.css" />


  <script type="text/javascript" src="//use.typekit.net/fcy7mfm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css' />
</head>
<body>
  <div class="wrap">
    <div class="grid">
      <div class="grid__col grid__col--5-of-5 grid__col grid__col--centered">
        <header class="site__header">
          <h1 class="site__title">Lift for Hope</h1>
          <span class="gamma site__desc">Lots of words should go here.</span>
        </header>
      </div>
      <div class="grid__col grid__col--5-of-5 grid__col--centered">
        <section>
          <h2>Meet details</h2>
          <p>On April 2nd, a group of friendly lifting enthusiasts are gathering at Brewhouse Barbell to lift and raise money for HopeKids.</p>
        </section>
        <section>
          <h2>Events!</h2>
          <p>Details for events goes here.</p>
          <p>1. Max Log</p>
          <p>2. Bench for Reps</p>
          <p>3. Max Deadlift</p>
          <p>4. Keg Carry</p>
          <p>5. Truck Pull</p>
        </section>
        <section>
          <h2>More words!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sem nisl, laoreet id augue quis, ultrices volutpat felis. Curabitur dictum, magna sit amet rhoncus hendrerit, lacus tortor consequat justo, nec maximus nunc enim vitae sapien. In a justo ut lorem faucibus rutrum. Etiam arcu lacus, bibendum non mi eget, mattis porttitor tortor. Nam vehicula ullamcorper ligula. Sed eget neque rhoncus, vulputate turpis sed, suscipit neque. Mauris rhoncus porta urna, malesuada eleifend dolor congue sit amet. Curabitur vitae mollis lacus. Nam tempus viverra nisi vel tincidunt. Ut elementum diam sit amet cursus tempor. Mauris aliquet ut erat eget viverra. Phasellus aliquet enim a vehicula molestie. Quisque auctor sodales auctor. Nunc ullamcorper ac purus quis vehicula.</p>
        </section>
        <section>
          <h2>Another set of words.</h2>
          <p>Morbi euismod ipsum urna, tristique sollicitudin sem consectetur ac. Etiam eu vehicula mi, ac eleifend neque. Mauris ac quam non est lacinia mattis. Nam vel arcu risus. Sed convallis, lectus at auctor luctus, turpis tellus hendrerit turpis, in sagittis eros ipsum id lacus. Cras arcu sapien, luctus quis ultricies in, bibendum sed justo. Mauris lobortis dapibus tempus.</p>
        </section>
        <section>
          <h2>More information</h2>
          <p>Link to facebook will go here.</p>
        </section>

      </div>
    </div>
  </div>
  <footer class="site__footer">
    <div class="wrap">
      <p>Some footer content would be nice.</p>
    </div>
  </footer>
</body>
</html>
