
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lift for Hope</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/grid.css" />


  <script type="text/javascript" src="//use.typekit.net/fcy7mfm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css' />
  <style>
  table {
      width: 100%;
  }

  th {
      background: #eee;
      height: 50px;
      border: 1px solid;
      text-align: center;
  }

  td {
      border: 1px solid;
      text-align: center;
  }

  </style>
</head>
<body>
  <div class="wrap">
    <div class="grid">
      <div class="grid__col grid__col--5-of-5 grid__col grid__col--centered">
        <header class="site__header">
          <h1 class="site__title">Lift for Hope</h1>
          <span class="gamma site__desc">Lift for Hope aims to raise money for <a target="_blank" href="https://www.hopekids.org/">HopeKids</a>, an organization that aims to restore hope and transform the lives of children with life-­threatening medical conditions.</span>
        </header>
      </div>
      <div class="grid__col grid__col--5-of-5 grid__col--centered">
        <section>
          <h2>Meet details</h2>
          <p>At noon on April 2nd, a group of friendly lifting enthusiasts are gathering at <a target="_blank" href="https://www.facebook.com/brewhousebarbell/">Brewhouse Barbell</a> to compete against each other to raise money and to win prizes from our generous sponsors. We would love for anyone that is interested to join us!</p>
        </section>
        <section>
          <h2>How can you help?</h2>
          <p>You can come and participate in any or all lifting events taking place. We would love for people to come and try something new.</p>
          <p>You can come to watch and support the lifters during the event. We'll have music, food, and some small activities for children as well.</p>
          <table>
            <tr>
              <th>Entry Type</th>
              <th>Cost</th>
            </tr>
            <tr>
              <td>Competitor</td>
              <td>$25</td>
            </tr>
            <tr>
              <td>Spectators</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Kids</td>
              <td>Free</td>
            </tr>
          </table>
          
        </section>
        <section>
          <h2>The Competition:</h2>
          <p>We are going to have five separate events. We'll use strongman-style scoring to add up points over each event. We're going to have one division each for men and women, and will use scoring metrics to compare lifts within divisions.</p>
          <p>1. Max Log Press. Last Person Standing format - We will start at a given weight and all competitors will press the log. Those that successfully complete a repitition are allowed to continue. A set amount of weight will be added, and we will repeat this cycle until no competitors remain.</p>
          <p>2. Bench Press for Reps. Competitors will bench press their bodyweight (men) or half of their bodyweight (women) for as many reptitions as possible.</p>
          <p>3. Max Deadlift. Standard Three Attempt format.</p>
          <p>4. Max Distance Keg Carry. A lifter will select the keg closest to their bodyweight and carry it down and back on the turf for as long as possible.</p>
          <p>5. Truck Pull. We will have a truck and a harness. The lifter to complete the course the fastest wins.</p>
        </section>
        <section>
          <h2>Questions?</h2>
          <p>Join our <a href="">facebook event page</a> and ask away. We want to do our best to be as inclusive as possible, so please let us know what we can do to get your participation!</p>
        </section>
      </div>
    </div>
  </div>
  <footer class="site__footer">
    <div class="wrap">
      <p>© 2016 Lift for Hope</p>
    </div>
  </footer>
</body>
</html>
