
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lift for Hope</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/grid.css" />


  <script type="text/javascript" src="//use.typekit.net/fcy7mfm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css' />
  <style>
  table {
      width: 100%;
  }

  th {
      background: #eee;
      height: 50px;
      border: 1px solid;
      text-align: center;
  }

  td {
      border: 1px solid;
      text-align: center;
  }
  .header-wrap {
      background-color: #47525d;
      background-image: linear-gradient(rgba(200, 255, 255, 0), rgba(200, 255, 255, 0.1));
      color: rgba(236, 237, 237, 0.8);
      max-width: 960px;
      margin: 0 auto;
      padding: 1.4444rem;
  }
  </style>
</head>


<body>
  <div class="wrap">
    <div class="grid">
      <div class="grid__col grid__col--5-of-5 grid__col grid__col--centered">
        <header class="site__header">
          <h1 class="site__title">Lift for Hope</h1>
          <span class="gamma site__desc">Lift for Hope aims to raise money for <a target="_blank" href="https://www.hopekids.org/">HopeKids</a>, an organization that aims to restore hope and transform the lives of children with life-­threatening medical conditions.</span>
        </header>
      </div>
      <div class="grid__col grid__col--5-of-5 grid__col--centered">
        <section>
          <h1>Meet details</h1>
          <p>At noon on April 2nd, a group of friendly lifting enthusiasts are gathering at <a target="_blank" href="https://www.facebook.com/brewhousebarbell/">Brewhouse Barbell</a> to compete against each other to raise money and to win prizes from our generous sponsors. We would love for anyone that is interested to join us!</p>
        </section>
        <section>
          <h1>How can you help?</h1>
          <p>You can come and participate in any or all lifting events taking place. We would love for people to come and try something new.</p>
          <p>You can come to watch and support the lifters during the event. We'll have music, food, and some small activities for children as well.</p>
          <table>
            <tr>
              <th>Entry Type</th>
              <th>Cost</th>
            </tr>
            <tr>
              <td>Competitor</td>
              <td>$25</td>
            </tr>
            <tr>
              <td>Spectators</td>
              <td>$10</td>
            </tr>
            <tr>
              <td>Kids 12 and under:</td>
              <td>Free</td>
            </tr>
          </table>
          <h2>To enter or spectate, go to <a target="_blank" href="http://www.firstgiving.com/fundraiser/BrewhouseBarbell/relentless2016">our donation page</a> and donate the appropriate amount (or more, it's for a good cause!)</h2>
          <p>Note: we will also accept spectator fees on the day of the competition</p>
        </section>
        <hr>
        <section>
          <h1>The Competition:</h1>
          <h3>Divisions</h3>
          <p>As of time of writing, we will have a men's and women's division. We will equate for bodyweight by using the most appropriate coefficients for each lift. If we grow the divisions enough, we will split into weight classes.</p>

          <h3>1. Max Log: Last Person Standing (Scored by <a  target="_blank" href="http://www.iwf.net/weightlifting_/sinclair-coefficient/">Sinclair Coefficient</a>)</h3>
          <p>The women's log will starts at 65lb (empty 10" log) and take 10lb jumps. The men’s log starts at approximately 140lb (empty 12" log) and will take 20lb jumps. Competitors are allowed to take an attempt at each step in weight. The weight of the last successfully completed repetition will be recorded. Competitors are not required to complete a repetition at each weight.
          Belts, knee support, wrist support are allowed. Competitors have a 60 second timeframe to complete the repetition.
          A judge will give a 'down' signal at lockout to indicate a successful lift. A successful lift is marked by the log being locked out overhead with arms straight, head through, with legs and feet stationary and parallel. ­The competitor may press, push press, push jerk, or split jerk the log. The competitor must lower the log under control. No deliberate dropping of the log is permitted, and a lift may be discounted for deliberate dropping.
          </p>
          <h3>2. Bench Press for Reps: (Scored by number of reps)</h3>
          <p>Women will bench 50% of their bodyweight for reps. Men will bench 100% of their bodyweight for reps.
          A successful repetition will touch the competitor's body and then elbows will be locked fully at the top of the press. A 'press' command will not be given, the reps are touch and go. No excessive bouncing off of the chest will be allowed.
          Belts, knee support, wrist support, elbow support is allowed.
          </p>

          <h3>3. Max Deadlift: Last Person Standing (Scored by <a  target="_blank" href="http://wilkscalculator.com/">Wilks Coefficient</a>)</h3>
          <p>A starting weight will be established by the competitors at the beginning of this event. The bar weight will jump 10 lb at a time for women, 20lb at a time for men. Competitors are allowed to take an attempt at each step in weight. The last successfully completed repetition is recorded. Competitors are not required to complete a repetition at each weight. If a competitor misses a given attempt at a weight, then they are no longer allowed to make another attempt.
          Belts, knee support, wrist support, elbow support, lifting straps are allowed. Hitching is allowed.
          A good lift is marked by locking the barbell out in a standing position with their head up, shoulders back, legs and feet in line. Upon lockout, a judge will give a ‘down’ command. Upon this command, the competitor must lower the bar to the floor. No dropping of the bar will be allowed and a lift may be discounted for this reason.
          Baby powder is allowed on the thighs. Tacky, baby oil, or vaseline are not allowed.</p>

          <h3>4. Keg for Max Distance: (Scored by total distance)</h3>
          <p>Women will use the keg closest to 50% of their bodyweight. Men will use the keg closest to 75% of their bodyweight. We do not currently have the keg weights listed, once we have the keg weights finalized, they will be updated here.
          The athlete will carry a keg down and back on the turf as many times as possible. The course length is roughly 60 feet long. We will have a horse stall mat on either end of the course. The competitor must touch each mat with a foot while they carry the keg.  The event is over when the athlete sets the keg down.</p>

          <h3>5. Truck Pull:</h3>
          <p>The athlete will wear a harness and on a start command will pull the truck across a to-be-determined course length. </p>

          <h3>Alternate 5: Farmer's Hold for Time:</h3>
          <p>If we have a situation that prevents us from doing truck pull (e.g. rain), we will do a max-time farmer's hold.
          Women will hold 50% of their bodyweight per hand. Men will hold 75% of their bodyweight per hand.
          The athlete will pick up and hold the farmer's handles for as long as possible. Time starts when both handles break off the ground. Time stops when one or more handles touch the ground again. Handles can not be rested on the legs.
          Belts, wrist support, knee support are allowed. Lifting straps are not allowed.</p>
        </section>
        <section>
          <h2>Questions?</h2>
          <p>Join our <a href="https://www.facebook.com/events/184422088598852/">facebook event page</a> and ask away. We want to do our best to be as inclusive as possible, so please let us know what we can do to get your participation!</p>
        </section>
      </div>
    </div>
  </div>
  <footer class="site__footer">
    <div class="wrap">
      <p>© 2016 Lift for Hope</p>
    </div>
  </footer>
</body>
</html>
